* {
  outline: none;
}

body {
  background: #111;
  font: 33px Helvetica, Arial, sans-serif;
  letter-spacing: -3px;
  margin: 8px;
  margin-left: 0px;
  overflow: hidden;
}

html {
  overflow: hidden;
}

#topics {
  position: absolute;
  left: 0;
  top: 60px;
  width: 200px;
}

h2 {
  position: relative;
  z-index: 1;
  font-size: 40px;
  line-height: 43px;
  overflow: hidden;
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;
  padding-left: 14px;
  cursor: pointer;
  width: 200px;
}

h2.selected {
  color: #fff;
}

h2 span {
  padding-left: 2px;
  padding-right: 6px;
}

#items {
  position: absolute;
  bottom: 0px;
  left: 0px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

#items li {
  color: #5c5c5c;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0px;
  font-weight: normal;
  margin-bottom: 100px;
  padding: 0;
  padding-left: 200px;
  padding-right: 20px;
  overflow: hidden;
  word-wrap: break-word;
  white-space: pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
}

#items li div.tweet-wrapper {
  padding-top: 10px;
  padding-bottom: 20px;
}
#items li span.large {
  font-size: 36px;
  line-height: 32px;
  letter-spacing: -2px;
}

#items li em {
  font-style: normal;
  font-size: 36px;
  line-height: 32px;
  letter-spacing: -2px;
  font-weight: bold;
  /* text-transform: lowercase; */
}

.happy { color: #a839b2 }
.happy.selected span { background-color: #a839b2 }
#items li.happy em { color: #a839b2 }

.excited { color: #ff0071 }
.excited.selected span { background-color: #ff0071 }
#items li.excited em { color: #ff0071 }

.confused { color: #58aa00 }
.confused.selected span { background-color: #58aa00 }
#items li.confused em { color: #58aa00 }

.bored { color: #00aa78 }
.bored.selected span { background-color: #00aa78 }
#items li.bored em { color: #00aa78 }

.sad { color: #0074ae }
.sad.selected span { background-color: #0074ae }
#items li.sad em { color: #0074ae }

.sick { color: #FF8330 }
.sick.selected span { background-color: #FF8330 }
#items li.sick em { color: #FF8330 }

.angry { color: #D11919 }
.angry.selected span { background-color: #D11919 }
#items li.angry em { color: #D11919 }

/* twitter emojis */
img.emoji {
   height: 1em;
   width: 1em;
   margin: 0 .05em 0 .1em;
   vertical-align: -0.1em;
}
