<!DOCTYPE html>
<html lang="en">
  <%- include('shared/head') -%>

  <body>
    <p>I'mma put stuff here later, but now is not the time.</p>
    <div id="topics">
      <h2 data-search="mormon" class="mormon"><span>mormon</span></h2>
      <h2 data-search="lds" class="lds"><span>lds</span></h2>
      <h2 data-search="mormonchannel" class="mormonchannel"><span>mormonchannel</span></h2>
      <h2 data-search="book of mormon" class="book of mormon"><span>book of mormon</span></h2>
      <h2 data-search="mormonprobs" class="mormonprobs"><span>mormonprobs</span></h2>
    </div>
    <ul id="items">
    </ul>

    <script type="text/javascript">
    </script>

  </body>
</html>
