<!DOCTYPE html>
<html lang="en">
  <%- include('shared/head') -%>

  <body>
    <div id="topics">
      <h2 data-search="happy" class="happy"><span>happy</span></h2>
      <h2 data-search="excited" class="excited"><span>excited</span></h2>
      <h2 data-search="confused" class="confused"><span>confused</span></h2>
      <h2 data-search="bored" class="bored"><span>bored</span></h2>
      <h2 data-search="sad" class="sad"><span>sad</span></h2>
      <h2 data-search="sick" class="sick"><span>sick</span></h2>
      <h2 data-search="angry" class="angry"><span>angry</span></h2>
    </div>

    <ul id="items">
    </ul>

    <script type="text/javascript">
    </script>

  </body>
</html>
